/* client section */

#client-section {
    height: 347px;
    border: 2px solid rgb(46, 165, 118);
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    width: 100%;
    height: 344px;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    border: 2px solid rgb(193, 90, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items {
    padding: 34px;
    margin: 2px;
    border: 2px solid rgb(46, 165, 118);
}

#clients img {
    height: 124px;
}